html,body{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: fontFamily('base');
    color: color('font');
    line-height: 22px;
    font-size: fontSize('nr');
}
a {
    color: color('primary');
    text-decoration: none;
}
p{
    margin-bottom: 30px;
}
hr {
    margin-top: 40px;
    margin-bottom: 50px;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: fontFamily('heading');
    color: color('primary');
}
.h1 span,.h2 span,.h3 span,.h4 span,.h5 span,.h6 span{
    color: color('primary');
}
h1,.h1{    
    font-weight: 900;
    font-size: fontSize('xlg');
    text-transform: uppercase;
}
h2,.h2{
    font-weight: 900;
    font-size: fontSize('lg');
    margin: 10px 0 20px;
}
h3,.h3{
    font-weight: 500;
    font-size: fontSize('md');
}
h4,.h4{
    font-weight: 500;
    font-size: fontSize('nr');
}
h5,.h5{
    font-weight: 900;
    font-size: fontSize('sm');
}
h6,.h6{
    font-weight: 900;
    font-size: fontSize('xs');
}
.wrapper{
    
}
.list-style-none{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.goto-top {
    width: 60px;
    height: 55px;
    background: color('primary');
    color: color('primary-text');
    position: fixed;
    bottom: 0;
    right: 10px;
    font-size: 22px;
    padding: 18px 20px;
    cursor: pointer;
    z-index: 9999;
}
.play-area{
    &::before{
        content: "\f04b";
        font: normal normal normal 24px/1 FontAwesome;
        display: block;
        @include poistionCenter;
        width: 60px;
        height: 60px;
        padding: 18px 21px;
        background-color: lighten($brand-primary, 40%);
        color: color('primary');
        z-index: 9;
    }
}
.container-main {
    padding: $widget-spacer 0;
}
.widget-spacer{
    margin-bottom: $widget-spacer;
}
.breadcrum-main {
    background: color('primary');
    .breadcrumb{
        margin: 0px;
        background: transparent;
        color: color('primary-text');
        padding: 10px 0;
        a,
        > .active,
        > li + li:before{
            color: color('primary-text');
        }
    }
}


@media (min-width:768px){
    .hgroup {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
}